<h1>Favorite Traveling Photos</h1>
  <ul>
    <li><img src='/img/arial-view-river.jpeg' class='img-responsive' alt='Nasa shot of river as seen from an arial view.'/></li>
    <li><img src='/img/feet-jumping-in-puddle.jpeg' class='img-responsive' alt='Legs from knee down jumping over puddle.'/></li>
  </ul>
